# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Ignore data and ckpts
*.pth
data
data-V7/
data-V7-test/
src/checkpoints
experiments
checkpoints/

# examples
tmp
command
examples/

*.pt
*.pkl
*.npy
*.npz

# **========== 原始代码 ==========
# output/
# **========== 新代码 ==========
output/*
!output/anchor_token_report_v1/
output/anchor_token_report_v1/*
!output/anchor_token_report_v1/README.md
!output/anchor_token_report_v1/01_aabb_step1/
!output/anchor_token_report_v1/01_aabb_step1/**
# **========== 结束 ==========
outputs/
src/croco/models/curope/cuda_12.4.0_550.54.14_linux.run
